{% extends "base.html" %}

{% block title %}Add Attendance{% endblock %}


{% block content %}
    <h1><center>Add Attendance</center></h1>
    <form method="post">
        <table>
        {{ form.hidden_tag() }}
        <!--<div>
            {{ form.user.label }}
            {{ form.user(class="form-control") }}
            {% for error in form.user.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>-->
        <div>
            <tr><th>{{ form.attendance_date.label }}</th>
            {# Set minimum date to today's date to restrict selection of past dates #}
            <td>{{ form.attendance_date(class="form-control", min=current_date, id="attendance_date") }}</td></tr>
            {% for error in form.attendance_date.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <tr><th>{{ form.status.label }}</th>
            <td>{{ form.status(class="form-control") }}</td></tr>
            {% for error in form.status.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </table>
        <script>
            // Get the input element by its ID
            var datePicker = document.getElementById("attendance_date");
        
            // Set the minimum date to today
            datePicker.min = new Date().toISOString().split("T")[0];
        </script>
        
        <button type="submit" class="btn btn-primary">Add Attendance</button>
    </form>
    {% endblock %}
