{% extends "base.html" %}

{% block title %}Add Attendance{% endblock %}


{% block content %}
    <h1><center>Add Booking</center></h1>
    <form method="post">
        <table>
        {{ form.hidden_tag() }}
        <div>
            <tr><th>{{ form.court_id.label }}</th>
                <td>{{ form.court_id(class="form-control") }}</td></tr>
            {% for error in form.court_id.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <!--<div>
            {{ form.user.label }}
            {{ form.user(class="form-control") }}
            {% for error in form.user.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div> -->
        <div>
            <tr><th>{{ form.booking_date.label }}</th>
                <td>{{ form.booking_date(class="form-control") }}</td></tr>
            {% for error in form.booking_date.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            <tr><th>{{ form.start_time.label }}</th>
            {# Set default value to "09:00" and set minutes to 0 #}
            <td>{{ form.start_time(class="form-control", value="08:00", step="3600") }}</td></tr>
            {% for error in form.start_time.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <tr><th>{{ form.end_time.label }}</th>
            {# Set default value to "09:00" and set minutes to 0 #}
            <td>{{ form.end_time(class="form-control", value="09:00", step="3600") }}</td></tr>
            {% for error in form.end_time.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <script>
            // Ensure minutes remain at 00
            document.getElementById("start_time").addEventListener("input", function() {
                this.value = this.value.replace(/:[^:]*$/, ":00");
            });
        </script>
        <script>
            // Ensure minutes remain at 00
            document.getElementById("end_time").addEventListener("input", function() {
                this.value = this.value.replace(/:[^:]*$/, ":00");
            });
        </script>
        <script>
            // Get the input element by its ID
            var datePicker = document.getElementById("booking_date");
        
            // Set the minimum date to today
            datePicker.min = new Date().toISOString().split("T")[0];
        </script>
        <tr><td colspan="2" align="center"><button type="submit" class="btn btn-primary">Add Booking</button></td></tr>
    </table>
    </form>
    {% endblock %}
