{% extends "base.html" %}

{% block title %}Courts{% endblock %}


{% block content %}
<h1><center>List of Courts</center></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Court #</th>
                <th>Cost per Hour</th>
                <!-- Add other table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for record in court %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.cost_per_hour }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('.add_court') }}">Add Court</a>
{% endblock %}
