{% extends "base.html" %}

{% block title %}Edit Attendance{% endblock %}


{% block content %}
    <h1>Edit Attendance</h1>
    <form method="post">
        <table>
        {{ form.hidden_tag() }}
        <!--<div>
            <tr><th>{{ form.user.label }}</th>
            <td>{{ form.user(class="form-control") }}</td></tr>
            {% for error in form.user.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>-->
        <div>
            {{ form.attendance_date.label }}
            {{ form.attendance_date(class="form-control") }}
            {% for error in form.attendance_date.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.status.label }}
            {{ form.status(class="form-control") }}
            {% for error in form.status.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Update Attendance</button>
    </table>
    </form>
    {% endblock %}
