{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block content %}
    <h1><center>Login</center></h1>
    <form method="post">
        <table>
        <tr><th><label for="mobile_number">Mobile:</label><br></th>
        <td><input type="number" id="mobile_number" name="mobile_number" required></td></tr>
        <tr><th><label for="totp_code">TOTP Code:</label><br></th>
        <td><input type="text" id="totp_code" name="totp_code" required></td></tr>    
        <tr><td colspan="2" align="center"><button type="submit">Login</button></td></tr>
    </table>
    </form>
    <p><center>If you don't have an account, <a href="{{ url_for('.register') }}">register here.</a></center></p>
    {% endblock %}
