<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.mobile_number.label }}
            {{ form.mobile_number(class="form-control") }}
            {% for error in form.mobile_number.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
       
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</body>
</html>
