{% extends "base.html" %}

{% block title %}Register{% endblock %}


{% block content %}
    <h1><center>Register</center></h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.hidden_tag() }}
        <table>
        <div>
            
            <tr><th>{{ form.name.label }}</th>
            <td>{{ form.name(class="form-control") }}</td></tr>
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <tr><th>{{ form.mobile_number.label }}</th>
                <td>{{ form.mobile_number(class="form-control") }}</td></tr>
            {% for error in form.mobile_number.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <tr><td colspan="2" align="center"><button type="submit" class="btn btn-primary">Register</button></td></tr>
    </table>    
    </form>

    {% endblock %}
