{% extends "base.html" %}

{% block title %}View Booking{% endblock %}


{% block content %}
    <h1>List of Bookings</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User </th>
                <th>Court ID</th>
                <th>Bookding Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <!-- Add other table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for record in booking %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.user }}</td>
                <td>{{ record.court_id }}</td>
                <td>{{ record.booking_date }}</td>
                <td>{{ record.start_time}}</td>
                <td>{{ record.end_time }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('.add_booking') }}">Add Booking</a>
{% endblock %}
